<div class="container m-5" style="text-align: center;">
    <h1>wikiCRUD API</h1>
    <br>
    <form action="/wiki" method="POST">
        <div class="container m-3">
            <textarea name="content" class="form-control" id="" cols="30" rows="10" placeholder="Content">Write Page Content Here</textarea>
        </div>
        <div class="input-group">
            <input type="text" class="form-control" name="title" id="" placeholder="Title">
            <button class="btn btn-dark">Submit</button>
        </div>
    </form>
</div>